@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --background: #282a36;
    --background_light: #44475a;
    --foreground: #f8f8f2;

    --green: #50fa7b;
    --purple: #bd93f9;
    --pink: #ff79c6;
    --blue: #8be9fd;
}

html {
    background-color: black;
    color: white;
    padding: 10px;
    /* text-align: center; */
    /* background-image: url('assets/darknis.png'); */
    background-repeat: no-repeat;
    /* background-position: 0% 20% ; */
    background-size: cover;
}

body {
    font-family: 'Source Code Pro', monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
