@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --background: #282a36;
    --background_light: #44475a;
    --foreground: #f8f8f2;

    --green: #50fa7b;
    --purple: #bd93f9;
    --pink: #ff79c6;
    --blue: #8be9fd;
}

html {
    background-color: black;
    color: white;
    padding: 10px;
}

body {
    font-family: 'Source Code Pro', monospace;
}

a {
    color: orange;
    text-decoration: none;
}

.sidebar {
    width: 170px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-wrap: break-word;
}

.sidebar a {
    display: block;
    margin: 0;
    /* padding: 16px; */
    text-decoration: none;
    /* text- */
    text-align: right;
}

.sidebar a p > span {
    background-color: red;
    color: black;
    padding: 0 6px 0 6px;
}

.main {
    overflow-wrap: break-word;
    margin-left: 180px;
    padding: 0 30px 0 20px;
}

img {
    width: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .main {margin-left: 0;}
}
